opencv-python==4.7.0.72
numpy==1.26.4
pandas==2.0.3
ultralytics==8.0.196
insightface
onnxruntime
mediapipe
tqdm
scikit-learn
torch
torchvision
matplotlib
seaborn
jinja2
psutil
flask
requests
pytest
pytest-cov
prometheus-client
bcrypt
cryptography
flask-limiter
xlsxwriter
